
#title {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-family:Arial, Helvetica, sans-serif;

}

body {
    
   background-color: #21209C;
   
   
}

.img {
    border: 5px solid #E2B11A;
    cursor:pointer;
    width: 160px;
    height: 160px;
    margin: 0.8rem;
    border-radius: 100%;
}

.img:hover {
    border: 5px solid white;
    zoom: 150%;
}
.footer {
    text-align: center;
    padding: 4rem;
    color: #DBEDF3;
    font-family: sans-serif;
}

